.line {
    fill: none;
    stroke-width: 2px;
    transition: opacity 0.3s, stroke-width 0.3s; 
}

.line.dimmed {
    opacity: 0.2; 
}

.line.highlighted {
    opacity: 1; 
    stroke-width: 3px; 
}

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
}
.axis text {
    font-size: 12px;
}

.tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}